body {
    padding: 0;
    margin: 0;
    background: #475c7a;
}


/*--- navigation bar ---*/

.navbar {
    background: #685d79;
    border-bottom: 2px solid #ab6c82;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link:hover {
    color: black;
}

.navbar-collapse {
    justify-content: flex-end;
}

#image1 {
    border: 7px solid #fcbb6d;
    padding: 0px;
    float: inline-start;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background: black;
}